// Banner and logo
@require _globals

banner()
  banner-shadow = 0 1px 2px rgba(91, 105, 113, 0.7)

  #banner
    &.theme-cobalt
      color theme-cobalt-banner-color
    z-index: 1
    position: fixed;
    top: 0
    height: 130px;
    width: 100%;
    font-weight: bold;
    text-align: center;
    background: theme-cobalt-body-bgcolor url("/assets/images/ccem_dove.png") no-repeat scroll 0 50%;
    &::after
      content: "";
      z-index: -1;
      position: absolute;
      left: 1px /* one half of the remaining 8px */
      bottom: 1px
      width: 100%
      height: 2px
      -webkit-box-shadow: banner-shadow
      -moz-box-shadow: banner-shadow
      box-shadow: banner-shadow
    .logo-right
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;

    #logo-extension
      height: 22px;
      position: absolute;
      width: calc(100% - 151px);
      right: 0;
      bottom: 0;
      padding-top: 0.2rem
      font-size: 0.9rem
      color: color-almost-white;
      background-color: black;
      text-align right
    #logo-top-line
      position: absolute;
      width: 100%;
      background-color: #000;
      left: 0;
      bottom: 21px;
      color: #000;
      height: 2px;
    #logo-bottom-line
      position: absolute;
      width: 100%;
      background-color: #000;
      left: 0;
      bottom: 0;
      color: #000;
      height: 2px;
    h1
      font-family: quintessential, Times, "Times New Roman", serif
      font-size: 1.6rem
    h3
      font-weight: normal
      font-size: 1.1rem
      color: #8a8a8a