.idea/
.DS_Store

church
cfg/options.yml
cfg/random_seeds.txt
sqlboiler.toml

log/*
!log/.keep

vendor/
sermons/
node_modules/

# Store for dynamic images from articles etc.
dist/img/*
!dist/img/.keep
