// Banner and logo
@require _globals

flash()
  #flash
    display: inline-block
    position: absolute
    top: 107px
    z-index: 200
    cursor: pointer
    background-color: theme-common-flash-bgcolor
    padding: 3px 0.4rem
    //width: 50%
    border-radius: 0.2em
    .flash-close
      display: inline-block
      padding-left: 0.8em
      padding-right: 0.2em
