@require _globals

module()
  .ch-module-wrapper
    clearfix()
    margin-bottom: 0.4rem
    .ch-module-heading
      position: relative
      //background-color: #a9d3bf
      padding: 0.3rem 0.4rem
      //border-bottom: 2px solid theme-light-gray-border-color
      //border-radius: 0.2rem
      font-weight: bold
      color: theme-cobalt-module-heading-color  //theme-title-blue
      //font-family: quintessential, Times, "Times New Roman", serif
      font-size: 1.1rem
      background:  theme-cobalt-module-title-background
      &.ch-clickable-heading
        cursor: pointer
      a.btn-add
        btn-add()
        top: -5px;
        right: 54px;
    .ch-module-body
      &.ch-admin-list
        table tr td
          border-right: theme-common-medium-border
          &:nth-child(1)
            border-left: theme-common-medium-border
      background-color theme-cobalt-module-body-bgcolor
      //border-right 1px solid theme-light-gray-border
      //border-left 1px solid theme-light-gray-border
      border-bottom-right-radius 0.1rem
      border-bottom-left-radius 0.1rem
      padding 0.2rem
      table
        width: 100%
        border-collapse collapse
        tr
          border-bottom: theme-common-light-border
          margin-bottom: 0.1rem
          td
            padding: 0.2em
            &:nth-child(1)
              text-align center
              border-bottom: 1px solid #bcebc9  // green underline
            &:nth-child(2)
              padding-left: 0.3rem
    &.ch-recent-sermons
      tr
        td:nth-child(1)
          //padding-right: 0.1rem
          //background-color: #a9d3bf
        td:nth-child(2)
          cursor: pointer
          a:link, a:visited
            color: theme-cobalt-module-a-color
            text-decoration none
          a:hover
            text-decoration underline

    &.ch-carousel
      width: calc(100% - 2.4rem);
      background-color: theme-cobalt-carousel-bgcolor
      border-radius: 0.3rem;
      padding-left: 0.4rem;
      padding-bottom: 0.6rem;
      margin-bottom: 0.4rem
      .slick-prev.slick-arrow, .slick-next.slick-arrow
        display: none
        opacity 0
        width: 0
      img
        border-radius:0.3rem

    &.ch-full_calendar
      //max-height: 84%;
      position: relative;
      //overflow-y: auto;
      //clear: both;
      width: 92%;
      margin-top: 0.9rem;
      margin-left: auto;
      margin-right: auto;
      padding-top: 1rem;
      padding-bottom: 0.8rem
    .article-title
      color: theme-cobalt-article-heading-color
    img
      border-radius:0.2rem
      &.center
        margin-left:auto
        margin-right:auto
